body, html {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* FONTS */

@font-face {
    font-family: 'Georgiano';
    src: url(fonts/georgiano/GEORGIANO.otf)
}

@media screen and (max-width: 768px) {
    /* Réglages pour les écrans de taille maximale de 768 pixels (exemple : tablette) */
    .home-menu {
        font-size: 60px; /* Ajuste la taille du texte pour une meilleure lisibilité */
    }
}





/* -------------------- MENU CHECKBOX -------------------- */

.dropdown-menu {
	/* On positionne le conteneur au centre et on lui assigne un placement
	relatif pour pouvoir placer ses enfants en absolu */
	width: 200px;
	margin: 20px auto;
	position: relative;
    float: right;
}

/* Menu */
.dropdown-menu label {
	/* On définit une couleur de fond, de trait et de contour pour le bouton */
	color: gray; /* Fallback pour les navigateurs ne comprenant pas le rgba */
	font-size: 45px;
	/* On position l'élément et on spécifie ses marges */
	display: block;
	padding: 5px 35px 5px 25px;
    font-family: 'Georgiano', sans-serif;
    cursor: pointer;
    transition: color 0.3s; /* Animation de la couleur au survol */
}

.dropdown-menu label:hover {
	color: #e8e6e3; /* Changement de couleur au survol */
}

/* Afin de gérer un élément "onclick" qui perdure en CSS,
on utilise une méthode impliquant une checkbox et le pseudo-selector :checked */
.dropdown-menu input[type="checkbox"] {
	/* On position la checkbox hors écran, le label servira de déclencheur */
	position: absolute;
	clip: rect(0, 0, 0, 0); /* Permet de réduire sa zone d'affichage à 0 */
	top: 9999px;
}

/* Liste du menu */
.dropdown-menu ul {
	/* On place le menu */
	position: absolute;
    top: 0;
    right: 100%;
	/* On paramètre ses styles */
	list-style-type: none;
	font-size: 80px;
    font-family: 'Georgiano', sans-serif;
	/* Et on le cache pour finir */
	display: none;
	line-height: 1;
	padding: 0; /* Suppression du padding par défaut */
	margin: 0; /* Suppression de la marge par défaut */
    background-color: #333333;
    border-radius: 15px;
}

/* Changement de couleur lors du survol du menu */
.dropdown-menu ul:after {
	border-bottom-color: c;
	border-width: 6px;
	left: 15%;
	margin-left: -6px;
}

.dropdown-menu ul:before {
	border-bottom-color: #e8e6e3;
	border-width: 7px;
	left: 15%;
	margin-left: -7px;
    border-radius: 15px;
}

/* On style les liens du menu */
.dropdown-menu a {
	text-decoration: none;
	color: gray; /* Changement de la couleur du texte à rouge */
	display: block;
	padding: 5px 15px;
    transition: color 0.3s; /* Animation de la couleur au survol */
}

/* On paramètre un survol aux éléments du menu */
.dropdown-menu a:hover {
	color: white; /* Changement de couleur du texte au survol à blanc */
}

/* On déclare que si la checkbox est cochée, la liste est affichée */
.dropdown-menu input[type="checkbox"]:checked ~ ul {
	display: block;
}




/* -------------------- INDEX -------------------- */

.home-bg1 {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("pics/home/homebackground.jpg") no-repeat center;
    background-size: cover;
    filter: blur(0.5px); /* Ajoute un flou léger au fond */
}

.home-title {
    color: #cf2e2e;
    font-family: 'Georgiano', sans-serif;
    font-size: 200px; /* Taille du titre */
    margin: 0; /* Supprime la marge par défaut du titre */
}

.home-menublock {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150vh;
    color: #cf2e2e;
    flex-wrap: wrap; /* Permet le retour à la ligne des éléments lorsque l'espace est insuffisant */
}

.home-menu {
    font-family: 'Georgiano', sans-serif;
    color: #e8e6e3;
    transition: color 0.3s; /* Ajoute une transition pour une animation fluide */
    text-decoration: none;
    font-size: 160px;
    margin: 10px; /* Ajoute un espace autour de chaque élément du menu */
}

.home-menu:hover {
    color: #cf2e2e; /* Changement de couleur de texte au survol */
}






/* ------------------ NEWS ------------------ */

.home-news {
    min-height: 200vh;
    width: 100%;
    padding-top: 50px;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.home-news h1 {
    font-family: 'Georgiano', sans-serif;
    font-size: 160px;
    width: 100%;
    text-align: center;
    color: #cf2e2e;
}

.bloc-news {
   
    width: 20%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: content;
    margin: 10px;
    position: relative;
}

.news {
    width: 300px;
    position: relative;
}

img {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    object-fit: cover;
}

/* ------------------ BIOGRAPHIE ------------------ */


/* Ajout des styles pour les parties de la biographie et les transitions */
.biography-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biography h1 {
    font-size: 160px;
    font-family: 'Georgiano';
    color: #cf2e2e;
    text-align: center;
    justify-content: center;
}

.biography-part {
    width: 100%;
    color: #e8e6e3;
    background-size: cover;
    align-items: center;
    justify-content: center;
    min-height: 150vh;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.biography-part h2 {
    margin-left: 30px;
    font-size: 80px;
    margin-bottom: 10px;
    font-family: 'Georgiano', sans-serif;
}

.biography-part p {
    font-size: 40px;
    margin-left: 30px;
    margin-top: 700px;
}

.part-80s {
    background-image: url('pics/biographie/image1.jpeg');
    background-repeat: no-repeat;
}

.part-90s {
    background-image: url('pics/biographie/image2.jpg');
    background-repeat: no-repeat;
}

.part-2010s {
    background-image: url('pics/biographie/image3.jpg');
    background-repeat: no-repeat;
}

.part-today {
    background-image: url('pics/biographie/image4.jpg');
    background-repeat: no-repeat;
}



/* ------------------ ALBUMS ------------------ */

.album_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}

.album_content img {
    width: 20%;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;

}

.album_content .album_content_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.album_content_2 p {
    text-align: justify;
    line-height: 1.6;
    font-size: 20px;
    font-family: 'Calibri';
}

.album_content_2 h1 {
    font-size: 30px;
    font-family: 'Georgiano', sans-serif;
}





/* FILMS */



.films_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}

.films_content img {
    width: 18%;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.films_content .films_content_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.films_content_2 p {
    text-align: justify;
    line-height: 1.6;
    font-size: 20px;
    font-family: 'Calibri';
}

.films_content_2 h1 {
    font-size: 30px;
    font-family: 'Georgiano', sans-serif;
}


/* CONTACT */


/* Style pour le corps de la page */
.contact-page {
    font-family: 'Didot', sans-serif;
    background:url(pics/contact/High_resolution_wallpaper_background_ID_77700741720.jpg) center no-repeat; /* Couleur de fond de la page */
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Style pour le formulaire de contact */
  .contact-form {
    background-color: #cf2e2e6d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(231, 10, 10, 0.2);
    text-align: center;
    max-width: 400px;
    margin: 0 auto; /* Centre le formulaire horizontalement */
    padding: 20px;
    margin-top: 130px;
    color: white;
  }
  
  /* Style pour le titre du formulaire */
  .contact-form h1 {
    font-family: 'Georgiano';
    color: white; /* Couleur du texte. */
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    font-size: 40px;
    margin-bottom: 20px;
  
  }

  /* Style pour les étiquettes des champs */
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style pour les champs de saisie */
  .contact-form input[type="text"],
  .contact-form select,
  .contact-form input[type="checkbox"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px;
    border-radius: 5px;
    background-color: #00000061;
  }
  
  /* Style pour le bouton d'envoi */
  .contact-form button {
    background-color: #cf2e2e8d; /* Couleur de fond du bouton */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Style pour le bouton d'envoi au survol */
  .contact-form button:hover {
    background-color: #cf2e2e; /* Couleur de fond modifiée au survol */
  }


  /* Footer */


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.icon:hover {
    transform: scale(2); /* Increase size on hover */
    transition: 0.3s;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icon {
    margin: 0 15px;
    width: 40px; /* Adjust the size of your social media icons */
    height: 40px;
}